<% if ! flash[:notice].blank? %>
<div class="notice">
<%= flash[:notice] %>
</div>
<% end %>

<h2>List of items</h2>

<table>
<% @items.each do |item| %>
<tr>


<td>
	<ul>
       <li>
       <p><%= item.name%>...</p>
       </li>
    </ul>
</td>


<td>
<%= link_to"show",item_show_path(item) %>
</td>
</tr>
<% end %>	

</table>

<%=  %>
<b><%= link_to image_tag("images.jpe", :size=>"15x15", :alt=>"+")+"Create new item ", item_new_path %></b>


